NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://casi_user:casi_pass@localhost:5432/casi?schema=public"

# JWT
JWT_SECRET=tu_jwt_secret_aqui_muy_seguro_para_produccion
JWT_REFRESH_SECRET=tu_refresh_secret_aqui_muy_seguro_para_produccion

# JWT Expiration
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d